.ai-gen-app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 62px;
}

/* section-1 */

.section-mobile-desktop-1 {
    background-image: radial-gradient(#08001aed, #08001a, #000000, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-1 {
        background-image: linear-gradient(#000000, #08001ace);
    }
}

.section-mobile-container-1 {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1728972283/ogdftgnt0b53mfep2dxb.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .section-mobile-container-1 {
        display: none;
    }
}

.section-mobile-content {
    width: 384px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-message-container {
    display: flex;
    align-items: center;
    background-color: #141414;
    border: 1px solid #ABABAB;
    border-radius: 6px;
    color: #ffffff;
    padding: 0px 5px;
}

@media screen and (min-width: 768px) {
    .greeting-message-container {
        border-radius: 10px;
        padding: 0px 8px;
    }
}

@media screen and (min-width: 1200px) {
    .greeting-message-container {
        border-radius: 12px;
        padding: 0px 10px;
    }
}

.popper-icon {
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    .popper-icon {
        font-size: 14px;
    }
}


.greeting-message {
    font-size: 10px;
}

@media screen and (min-width: 1200px) {
    .greeting-message {
        font-size: 12px;
    }
}


.title {
    color: #ffffff;
    font-size: 28px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .title {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .title {
        font-size: 36px;
    }
}

.description {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    margin-top: 0px;
}

@media screen and (min-width: 768px) {
    .description {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .description {
        font-size: 18px;
        line-height: 30px;
    }
}

.get-started-button {
    width: 134px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    background-image: linear-gradient(to right, #8a259e, #f403dc);
    border-radius: 5px;
    border: 2px solid #9940ad;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.section-desktop-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .section-desktop-container-1 {
        display: none;
    }
}

.section-desktop-content {
    width: 405px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 10px 30px;
}

@media screen and (min-width: 768px) {
    .section-desktop-content {
        width: 410px;
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    .section-desktop-content {
        margin: 20px 60px;
        width: 420px;
        height: 360px;
    }
}

@media screen and (min-width: 1200px) {
    .section-desktop-content {
        width: 500px;
        height: 400px;
        margin: 20px 60px;
    }
}

.website-logo {
    width: 330px;
    max-width: 400px;
}

@media screen and (min-width: 992px) {
    .website-logo {
        width: 435px;
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .website-logo {
        width: 595px;
        max-width: 740px;
    }
}

/* section-2 */

.section-mobile-desktop-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(#000000, #09021fe7, #0b0213df, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-2 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #1e1b41ea, #081a13ea, #251120);
    }
}

.section-mobile-container-2 {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1729042430/k4okkzqlyybqdbkbnl8f.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 368px;
}

@media screen and (min-width: 768px) {
    .section-mobile-container-2 {
        display: none;
    }
}

.persons-description {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    width: 300px;
}

@media screen and (min-width: 768px) {
    .persons-description {
        font-size: 28px;
        width: 500px;
    }
}

@media screen and (min-width: 992px) {
    .persons-description {
        font-size: 34px;
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .persons-description {
        font-size: 44px;
        width: 750px;
    }
}

.span-text {
    background: linear-gradient(to right, #f9dd7f, #f48d3f, #f34c3a);
    background-clip: text;
    color: transparent;
}

.section-desktop-container-2 {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1729046560/np7x9upc7zhoyb0jlwhs.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
}

@media screen and (max-width: 767px) {
    .section-desktop-container-2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .section-desktop-container-2 {
        height: 330px;
        width: 670px;
    }
}

@media screen and (min-width: 992px) {
    .section-desktop-container-2 {
        height: 410px;
        width: 840px;
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .section-desktop-container-2 {
        height: 557px;
        width: 1086px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

/* section-3 */

.section-mobile-desktop-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(#000000, #09021fe7, #0b0213df, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-3 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #000000, #0b1712f1, #251120);
    }
}

.section-mobile-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .section-mobile-container-3 {
        display: none;
    }
}

.avatar-small-profile {
    width: 345px;
    height: 230px;
}

@media screen and (min-width: 576px) {
    .avatar-small-profile {
        width: 400px;
        height: 250px;
    }
}

.avatar-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

@media screen and (min-width: 768px) {
    .avatar-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        margin-top: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .avatar-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }
}

.avatar-question {
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 18px;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .avatar-question {
        font-size: 50px;
    }
}

.avatar-option {
    font-size: 24px;
    font-weight: 400;
    background: linear-gradient(to right, #5CC3FA, #9E6EE6);
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .avatar-option {
        font-size: 34px;
        line-height: 64px;
    }
}

.avatar-description {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    line-height: 30px;
    margin-top: 6px;
}

@media screen and (min-width: 1200px) {
    .avatar-description {
        font-size: 26px;
        line-height: 54px;
    }
}

.section-desktop-container-3 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .section-desktop-container-3 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .section-desktop-container-3 {
        margin-top: 40px;
    }
}

.avatar-large-profile {
    width: 500px;
    height: 400px;
    margin-right: 40px;
}

@media screen and (min-width: 768px) {
    .avatar-large-profile {
        width: 400px;
        height: 290px;
    }
}

@media screen and (min-width: 992px) {
    .avatar-large-profile {
        width: 520px;
        height: 360px;
    }
}

@media screen and (min-width: 1200px) {
    .avatar-large-profile {
        width: 740px;
        height: 460px;
    }
}

/* section-4 */

.section-mobile-desktop-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(#000000, #09021fe7, #0b0213df, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-4 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #000000, #000000, #000000, #251120);
    }
}

.section-mobile-container-4 {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .section-mobile-container-4 {
        display: none;
    }
}

.technologies-small-img {
    width: 100%;
}

.technologies-large-img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .section-desktop-container-4 {
        display: none;
    }
}

/* section-5 */

.section-mobile-desktop-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-image: linear-gradient(to right, #000000, #000000, #000000, #251120);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-5 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #000000, #000000, #000000, #251120);
    }
}

.trending-technologies-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-technologies-row {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.trending-small-img {
    width: 140px;
    height: 141px;
    border-radius: 6px;
    margin: 7px;
}

@media screen and (min-width: 576px) {
    .trending-small-img {
        width: 160px;
        height: 161px;
    }
}

@media screen and (min-width: 768px) {
    .trending-small-img {
        width: 220px;
        height: 221px;
    }
}

@media screen and (min-width: 992px) {
    .trending-small-img {
        width: 320px;
        height: 321px;
        margin: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .trending-small-img {
        width: 520px;
        height: 521px;
    }
}

.trending-large-img {
    width: 209px;
    height: 141px;
    border-radius: 6px;
    margin: 7px;
}

@media screen and (min-width: 576px) {
    .trending-large-img {
        width: 229px;
        height: 161px;
    }
}

@media screen and (min-width: 768px) {
    .trending-large-img {
        width: 289px;
        height: 221px;
    }
}

@media screen and (min-width: 992px) {
    .trending-large-img {
        width: 389px;
        height: 321px;
        margin: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .trending-large-img {
        width: 589px;
        height: 521px;
    }
}

/* section-6 */

.section-mobile-desktop-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    background-image: linear-gradient(to right, #000000, #000000, #000000, #251120);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-6 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #000000, #000000, #10211cf0);
    }
}

.tokenomics-heading {
    font-size: 28px;
    background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
    background-clip: text;
    color: transparent;
}

@media screen and (min-width: 768px) {
    .tokenomics-heading {
        font-size: 36px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    .tokenomics-heading {
        font-size: 40px;
        margin-top: 80px;
    }
}

.pie-chart-img {
    width: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
    .pie-chart-img {
        width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .pie-chart-img {
        width: 580px;
    }
}

@media screen and (min-width: 992px) {
    .pie-chart-img {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    .pie-chart-img {
        width: 800px;
    }
}

/* section-7 */

.section-mobile-desktop-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #000000, #000000, #000000, #251120);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-7 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #0c0b1a, #230d1e);
    }
}

.roadmap-heading {
    font-size: 28px;
    background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
    background-clip: text;
    color: transparent;
}

@media screen and (min-width: 768px) {
    .roadmap-heading {
        font-size: 36px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    .roadmap-heading {
        font-size: 40px;
        margin-top: 80px;
    }
}

.phase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .phase-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.phase-content {
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .phase-content {
        margin-left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .phase-content {
        margin-left: 50px;
    }
}

.phase-1-heading {
    font-size: 28px;
    background: linear-gradient(90deg, #FACC69 0%, #FA75F8 100%);
    background-clip: text;
    color: transparent;
}

.phase-list-container {
    color: #ffffff;
}

li {
    line-height: 30px;
}

.phase-result-img {
    width: 300px;
    border-radius: 6px;
    margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
    .phase-result-img {
        width: 400px;
    }
}

@media screen and (min-width: 992px) {
    .phase-result-img {
        width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .phase-result-img {
        width: 500px;
    }
}

/* section-8 */

.section-mobile-desktop-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000000,  #271723, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-8 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #0b0b18, #320140ec);
    }
}

.phase-2-heading {
    font-size: 28px;
    background: linear-gradient(90deg, #FF91A5 0%, #FA75F8 100%);
    background-clip: text;
    color: transparent;
}

/* section-9 */

.section-mobile-desktop-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000000,  #271723, #000000);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-9 {
        min-height: 100vh;
        background-image: linear-gradient(to right, #181c0f, #000000, #000000);
    }
}

.phase-3-heading {
    font-size: 28px;
    background: linear-gradient(90deg, #FA75F8 0%, #9E6EE6 100%);
    background-clip: text;
    color: transparent;
}

/* section-10 */

.section-mobile-desktop-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(to bottom, #070f0b,  #040b05f7, #163035f4);
}

@media screen and (min-width: 768px) {
    .section-mobile-desktop-10 {
        min-height: 40vh;
        background-image: linear-gradient(to bottom, #000000, #0b1214f1, #081012e4);
    }
}

.section-get-started-container {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1729076211/bdzj2icxk4aibw52dges.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 576px) {
    .section-get-started-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .section-get-started-container {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .section-get-started-container {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .section-get-started-container {
        width: 100%;
        max-width: 1380px;
    }
}

.get-started-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #9E6EE6 0%, #FA75F8 100%);
    width: 90%;
    margin-top: 60px;
    border-radius: 3px;
}

@media screen and (min-width: 992px) {
    .get-started-card-container {
        width: 95%;
        padding: 10px;
    }
}

.get-started-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}

.right-arrow {
    width: 40px;
    padding-right: 10px;
}

.section-content-and-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .section-content-and-input-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 992px) {
    .section-content-and-input-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

.section-content {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
}

@media screen and (min-width: 768px) {
    .section-content {
        width: 40%;
        font-size: 18px;
    }
}

.section-input-container {
    display: flex;
    flex-direction: column;
}

.help-text {
    color: #ffffff;
    text-align: right;
}

.input-submit-container {
    display: flex;
    align-items: center;
}

.email-input-element {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    margin-right: 16px;
}

.submit-button {
    color: #ffffff;
    width: 104px;
    height: 44px;
    border-radius: 8px;
    background: linear-gradient(180deg, #C85EC7 0%, #7F59B8 100%);
    border: none;
    outline: none;
    cursor: pointer;
}

.hr-line {
    width: 94%;
    border-color: #bbf;
    margin-top: 60px;
}
 
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.footer-header {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 10px;
    color: #ffffff;
}

.social-media-img {
    width: 160px;
}